<%- include('../partials/header') %>

<h1>Faculty Directory</h1>

<ul>
  <% faculty.forEach(f => { %>
    <li>
      <a href="/faculty/<%= f.slug %>"><%= f.name %></a>
      – <%= f.department %>
      <% if (f.title) { %>
        (<%= f.title %>)
      <% } %>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer') %>
