<%- include('../partials/header') %>
<h1><%= faculty.name %></h1>
<p><strong>Department:</strong> <%= faculty.department %></p>
<p><strong>Email:</strong> <%= faculty.email %></p>
<a href="/faculty">Back to Faculty Directory</a>
<%- include('../partials/footer') %>
